@media print {
    body * {
        visibility: hidden;
    }
    #relatorio, #relatorio * {
        visibility: visible;
        
    }
    .logo{
      visibility: visible;

      top: 0;
      right: 0;
      position: absolute;
    }
    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        color: black;
    }
}

body{
    background-color: rgb(0, 0, 0);
    height: 2000px;
    color: rgb(255, 255, 255);
}

.logo{
    height: 270px;
}

form {
  background: rgba(0, 0, 0, 0.747);
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
}

fieldset {
  border: 2px solid #9e0101;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

header {
  background-image: url(imagens/qualidade.);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

button {
  background-color: #f7f0f0;
  color: rgb(245, 149, 149);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background 0.1s;
}

button:hover {
  background-color: #9e0101;
}

hr{
  color: #9e0101;
}

input{
  background-color: #ffffffea;
}
